City of Los Angeles crime data from 2020 to current date

### Problem statement: Find out the area where the crime rate is higher and where the los angeles coup should priortize highly

In [112]:
import numpy as np 
import pandas as pd

In [113]:
df = pd.read_csv("/Users/mrbinit/Downloads/Crime_Data_from_2020_to_Present.csv")

In [114]:
df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021

In [115]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [116]:
df.shape

(770787, 28)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770787 entries, 0 to 770786
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           770787 non-null  int64
 1   Date Rptd       770787 non-null  object
 2   DATE OCC        770787 non-null  object
 3   TIME OCC        770787 non-null  int64
 4   AREA            770787 non-null  int64
 5   AREA NAME       770787 non-null  object
 6   Rpt Dist No     770787 non-null  int64
 7   Part 1-2        770787 non-null  int64
 8   Crm Cd          770787 non-null  int64
 9   Crm Cd Desc     770787 non-null  object
 10  Mocodes         664916 non-null  object
 11  Vict Age        770787 non-null  int64
 12  Vict Sex        669964 non-null  object
 13  Vict Descent    669958 non-null  object
 14  Premis Cd       770778 non-null  float64
 15  Premis Desc     770334 non-null  object
 16  Weapon Used Cd  268001 non-null  float64
 17  Weapon Desc     268001 non-null  object
 18  Status          770787 non-null  object
 19  Status Desc     770787 non-null  object
 20  Crm Cd 1        770777 non-null  float64
 21  Crm Cd 2        56971 non-null   float64
 22  Crm Cd 3        1899 non-null    float64
 23  Crm Cd 4        57 non-null      float64
 24  LOCATION        770787 non-null  object
 25  Cross Street    123786 non-null  object
 26  LAT             770787 non-null  float64
 27  LON             770787 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 164.7+ MB

In [118]:
df['Crm Cd Desc'].value_counts()

Crm Cd Desc
VEHICLE - STOLEN                                           82396
BATTERY - SIMPLE ASSAULT                                   61108
THEFT OF IDENTITY                                          49522
BURGLARY FROM VEHICLE                                      47450
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    47210
                                                           ...
PICKPOCKET, ATTEMPT                                            3
GRAND THEFT / AUTO REPAIR                                      3
FAILURE TO DISPERSE                                            2
DISHONEST EMPLOYEE ATTEMPTED THEFT                             2
INCITING A RIOT                                                1
Name: count, Length: 138, dtype: int64

In [119]:
df.LOCATION.value_counts()

LOCATION
800 N  ALAMEDA                      ST      1419
6TH                          ST             1267
7TH                                         1259
7TH                          ST             1222
10200    SANTA MONICA                 BL    1195
                                            ...
1200    ALDINE                       CT        1
02300    SICHEL                       ST       1
19000    WYANDOTTE                    ST       1
9200    MCLENNAN                     AV        1
6400 N  FIGUEROAA                    ST        1
Name: count, Length: 62879, dtype: int64

In [120]:
filtered_counts = df.LOCATION.value_counts()
locations_with_one_occurrence = filtered_counts[filtered_counts == 1]
print(locations_with_one_occurrence)

LOCATION
18800    CANTLAY                      ST    1
FLINT                        ST             1
PARK GROVE                   ST             1
17500    CANDIA                       ST    1
CANDLEWOOD                   WY             1
                                           ..
1200    ALDINE                       CT     1
02300    SICHEL                       ST    1
19000    WYANDOTTE                    ST    1
9200    MCLENNAN                     AV     1
6400 N  FIGUEROAA                    ST     1
Name: count, Length: 13784, dtype: int64

In [121]:
total_unique_locations = len(locations_with_one_occurrence)
print("Total number of unique locations with only one occurrence:", total_unique_locations)

Total number of unique locations with only one occurrence: 13784

In [122]:
df['AREA NAME'].value_counts()

AREA NAME
Central        51734
77th Street    48756
Pacific        45097
Southwest      42996
Hollywood      41066
Southeast      39480
Olympic        39024
Newton         38409
N Hollywood    38326
Wilshire       36469
Rampart        35766
West LA        35433
Northeast      33290
Van Nuys       32756
West Valley    32240
Harbor         31962
Devonshire     31241
Topanga        31230
Mission        30694
Hollenbeck     28947
Foothill       25871
Name: count, dtype: int64

In [123]:
df.DR_NO.value_counts()

DR_NO
10304468     1
220705336    1
220407733    1
221700684    1
221707479    1
            ..
211414194    1
211106590    1
210406590    1
211612366    1
230906458    1
Name: count, Length: 770787, dtype: int64

In [124]:
df['Vict Descent'].value_counts()

Vict Descent
H    236645
W    157945
B    110452
X     73277
O     61052
A     16826
K      4093
F      3217
C      2908
J      1076
V       777
I       739
Z       385
P       209
U       158
D        54
G        51
L        48
S        44
-         2
Name: count, dtype: int64

In [125]:
# Assuming you have a DataFrame called 'df' with the original column names
original_columns = ['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
                   'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
                   'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
                   'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
                   'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
                   'LON']

# New column names you want to set
new_columns = ['DR_NUMBER', 'Date_Reported', 'Date_Occurred', 'Time_Occurred', 'Area', 'Area_Name',
               'Report_District_Number', 'Part_Type', 'Crime_Code', 'Crime_Description', 'Modcodes',
               'Victim_Age', 'Victim_Sex', 'Victim_Descent', 'Premises_Code', 'Premises_Description',
               'Weapon_Used_Code', 'Weapon_Description', 'Status', 'Status_Description', 'Crime_Code_1',
               'Crime_Code_2', 'Crime_Code_3', 'Crime_Code_4', 'Location', 'Cross_Street', 'Latitude',
               'Longitude']

# Rename the columns
df.columns = new_columns

In [126]:
df.head(10)

,DR_NUMBER,Date_Reported,Date_Occurred,Time_Occurred,Area,Area_Name,Report_District_Number,Part_Type,Crime_Code,Crime_Description,...,Status,Status_Description,Crime_Code_1,Crime_Code_2,Crime_Code_3,Crime_Code_4,Location,Cross_Street,Latitude,Longitude
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021

In [127]:
df.Modcodes.value_counts()

Modcodes
0344                             31796
0329                             17462
1822 0344                         9166
1501                              7688
0344 1822                         6550
                                 ...
0421 0913 1814 1300                  1
0945 0344 0325 0416 0444             1
0913 2000 0906 1816 0444 0408        1
0400 0444 1300 2004 1822             1
0601 0445 0416 0359                  1
Name: count, Length: 258897, dtype: int64

In [128]:
df = df.drop(['DR_NUMBER', 'Status', 'Status_Description','Crime_Code_2', 'Crime_Code_3', 'Crime_Code_4', 'Cross_Street', 'Latitude', 'Longitude', 'Date_Reported', 'Date_Occurred', ], axis = 1)

In [129]:
df.head(10)

,Time_Occurred,Area,Area_Name,Report_District_Number,Part_Type,Crime_Code,Crime_Description,Modcodes,Victim_Age,Victim_Sex,Victim_Descent,Premises_Code,Premises_Description,Weapon_Used_Code,Weapon_Description,Crime_Code_1,Location
0,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",624.0,1100 W 39TH PL
1,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,624.0,700 S HILL ST
2,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,0,X,X,726.0,POLICE FACILITY,NaN,NaN,845.0,200 E 6TH ST
3,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,745.0,5400 CORTEEN PL
4,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,X,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,740.0,14400 TITUS ST
5,30,1,Central,163,1,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,F,H,735.0,NIGHT CLUB (OPEN EVENINGS ONLY),500.0,UNKNOWN WEAPON/OTHER WEAPON,121.0,700 S BROADWAY
6,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),1402 2004 0344 0387,23,M,H,404.0,DEPARTMENT STORE,NaN,NaN,442.0,700 S FIGUEROA ST
7,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,1402 0392,0,X,X,726.0,POLICE FACILITY,NaN,NaN,946.0,200 E 6TH ST
8,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1822 0344 1402,23,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,341.0,700 BERNARD ST
9,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1300 0202 0378 0325,0,X,X,203.0,OTHER BUSINESS,NaN,NaN,341.0,11900 BALBOA BL