City of Los Angeles crime data from 2020 to current date

### Problem statement: Find out the area where the crime rate is higher and where the los angeles coup should priortize highly

In [219]:
import numpy as np 
import pandas as pd

In [220]:
df = pd.read_csv("/Users/mrbinit/Downloads/Crime_Data_from_2020_to_Present.csv")

In [221]:
df.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021

In [222]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [223]:
df.shape

(770787, 28)

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770787 entries, 0 to 770786
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           770787 non-null  int64
 1   Date Rptd       770787 non-null  object
 2   DATE OCC        770787 non-null  object
 3   TIME OCC        770787 non-null  int64
 4   AREA            770787 non-null  int64
 5   AREA NAME       770787 non-null  object
 6   Rpt Dist No     770787 non-null  int64
 7   Part 1-2        770787 non-null  int64
 8   Crm Cd          770787 non-null  int64
 9   Crm Cd Desc     770787 non-null  object
 10  Mocodes         664916 non-null  object
 11  Vict Age        770787 non-null  int64
 12  Vict Sex        669964 non-null  object
 13  Vict Descent    669958 non-null  object
 14  Premis Cd       770778 non-null  float64
 15  Premis Desc     770334 non-null  object
 16  Weapon Used Cd  268001 non-null  float64
 17  Weapon Desc     268001 non-null  object
 18  Status          770787 non-null  object
 19  Status Desc     770787 non-null  object
 20  Crm Cd 1        770777 non-null  float64
 21  Crm Cd 2        56971 non-null   float64
 22  Crm Cd 3        1899 non-null    float64
 23  Crm Cd 4        57 non-null      float64
 24  LOCATION        770787 non-null  object
 25  Cross Street    123786 non-null  object
 26  LAT             770787 non-null  float64
 27  LON             770787 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 164.7+ MB

In [225]:
# Assuming you have a DataFrame called 'df' with the original column names
original_columns = ['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
                   'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
                   'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
                   'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
                   'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
                   'LON']

# New column names you want to set
new_columns = ['DR_NUMBER', 'Date_Reported', 'Date_Occurred', 'Time_Occurred', 'Area', 'Area_Name',
               'Report_District_Number', 'Part_Type', 'Crime_Code', 'Crime_Description', 'Modcodes',
               'Victim_Age', 'Victim_Sex', 'Victim_Descent', 'Premises_Code', 'Premises_Description',
               'Weapon_Used_Code', 'Weapon_Description', 'Status', 'Status_Description', 'Crime_Code_1',
               'Crime_Code_2', 'Crime_Code_3', 'Crime_Code_4', 'Location', 'Cross_Street', 'Latitude',
               'Longitude']

# Rename the columns
df.columns = new_columns

In [226]:
df.head(10)

,DR_NUMBER,Date_Reported,Date_Occurred,Time_Occurred,Area,Area_Name,Report_District_Number,Part_Type,Crime_Code,Crime_Description,...,Status,Status_Description,Crime_Code_1,Crime_Code_2,Crime_Code_3,Crime_Code_4,Location,Cross_Street,Latitude,Longitude
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,IC,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631
7,200100504,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,998.0,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398
9,201710201,06/19/2020 12:00:00 AM,05/26/2020 12:00:00 AM,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,AO,Adult Other,341.0,NaN,NaN,NaN,11900 BALBOA BL,NaN,34.2864,-118.5021

In [227]:
df.Modcodes.value_counts()

Modcodes
0344                             31796
0329                             17462
1822 0344                         9166
1501                              7688
0344 1822                         6550
                                 ...
0421 0913 1814 1300                  1
0945 0344 0325 0416 0444             1
0913 2000 0906 1816 0444 0408        1
0400 0444 1300 2004 1822             1
0601 0445 0416 0359                  1
Name: count, Length: 258897, dtype: int64

In [228]:
df = df.drop(['DR_NUMBER', 'Status', 'Status_Description','Crime_Code_2', 'Crime_Code_3', 'Crime_Code_4', 'Cross_Street', 'Latitude', 'Longitude', 'Date_Reported', 'Date_Occurred', 'Modcodes'], axis = 1)

In [229]:
df.head(10)

,Time_Occurred,Area,Area_Name,Report_District_Number,Part_Type,Crime_Code,Crime_Description,Victim_Age,Victim_Sex,Victim_Descent,Premises_Code,Premises_Description,Weapon_Used_Code,Weapon_Description,Crime_Code_1,Location
0,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,36,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",624.0,1100 W 39TH PL
1,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,25,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,624.0,700 S HILL ST
2,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,726.0,POLICE FACILITY,NaN,NaN,845.0,200 E 6TH ST
3,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,745.0,5400 CORTEEN PL
4,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,740.0,14400 TITUS ST
5,30,1,Central,163,1,121,"RAPE, FORCIBLE",25,F,H,735.0,NIGHT CLUB (OPEN EVENINGS ONLY),500.0,UNKNOWN WEAPON/OTHER WEAPON,121.0,700 S BROADWAY
6,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),23,M,H,404.0,DEPARTMENT STORE,NaN,NaN,442.0,700 S FIGUEROA ST
7,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,0,X,X,726.0,POLICE FACILITY,NaN,NaN,946.0,200 E 6TH ST
8,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",23,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,341.0,700 BERNARD ST
9,1925,17,Devonshire,1708,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,X,X,203.0,OTHER BUSINESS,NaN,NaN,341.0,11900 BALBOA BL

In [230]:
df.columns

Index(['Time_Occurred', 'Area', 'Area_Name', 'Report_District_Number',
       'Part_Type', 'Crime_Code', 'Crime_Description', 'Victim_Age',
       'Victim_Sex', 'Victim_Descent', 'Premises_Code', 'Premises_Description',
       'Weapon_Used_Code', 'Weapon_Description', 'Crime_Code_1', 'Location'],
      dtype='object')

In [231]:

df.columns[df.isin(['X']).any()]

Index(['Victim_Sex', 'Victim_Descent'], dtype='object')

In [232]:
df = df.replace("X", np.nan)
df.columns[df.isin(['X']). any()]

Index([], dtype='object')

In [233]:
df.head()

,Time_Occurred,Area,Area_Name,Report_District_Number,Part_Type,Crime_Code,Crime_Description,Victim_Age,Victim_Sex,Victim_Descent,Premises_Code,Premises_Description,Weapon_Used_Code,Weapon_Description,Crime_Code_1,Location
0,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,36,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",624.0,1100 W 39TH PL
1,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,25,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,624.0,700 S HILL ST
2,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,NaN,NaN,726.0,POLICE FACILITY,NaN,NaN,845.0,200 E 6TH ST
3,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,745.0,5400 CORTEEN PL
4,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,NaN,NaN,409.0,BEAUTY SUPPLY STORE,NaN,NaN,740.0,14400 TITUS ST

In [235]:
df.Time_Occurred.value_counts()

Time_Occurred
1200    27539
1800    20629
1700    19421
2000    19061
1900    17703
        ...
756        18
559        18
2332       17
534        16
531        11
Name: count, Length: 1439, dtype: int64

In [236]:
df.Area.value_counts()

Area
1     51734
12    48756
14    45097
3     42996
6     41066
18    39480
20    39024
13    38409
15    38326
7     36469
2     35766
8     35433
11    33290
9     32756
10    32240
5     31962
17    31241
21    31230
19    30694
4     28947
16    25871
Name: count, dtype: int64

In [237]:
df.Area_Name.value_counts()

Area_Name
Central        51734
77th Street    48756
Pacific        45097
Southwest      42996
Hollywood      41066
Southeast      39480
Olympic        39024
Newton         38409
N Hollywood    38326
Wilshire       36469
Rampart        35766
West LA        35433
Northeast      33290
Van Nuys       32756
West Valley    32240
Harbor         31962
Devonshire     31241
Topanga        31230
Mission        30694
Hollenbeck     28947
Foothill       25871
Name: count, dtype: int64

In [238]:
df.Report_District_Number.value_counts()

Report_District_Number
162     4108
645     3887
182     3638
1494    3437
646     3367
        ...
697        1
945        1
728        1
226        1
1046       1
Name: count, Length: 1199, dtype: int64

In [239]:
df.Part_Type.value_counts()

Part_Type
1    450833
2    319954
Name: count, dtype: int64

In [240]:
df.Crime_Code.value_counts()

Crime_Code
510    82396
624    61108
354    49522
330    47450
740    47210
       ...
452        3
349        3
884        2
445        2
882        1
Name: count, Length: 138, dtype: int64

In [241]:
df.Crime_Description.value_counts()

Crime_Description
VEHICLE - STOLEN                                           82396
BATTERY - SIMPLE ASSAULT                                   61108
THEFT OF IDENTITY                                          49522
BURGLARY FROM VEHICLE                                      47450
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    47210
                                                           ...
PICKPOCKET, ATTEMPT                                            3
GRAND THEFT / AUTO REPAIR                                      3
FAILURE TO DISPERSE                                            2
DISHONEST EMPLOYEE ATTEMPTED THEFT                             2
INCITING A RIOT                                                1
Name: count, Length: 138, dtype: int64

In [242]:
### we need to repair these 
df.Victim_Age.value_counts()

Victim_Age
 0      188555
 30      17644
 35      17277
 31      16896
 29      16888
         ...
 97         59
-1          51
-2          11
 120         1
-3           1
Name: count, Length: 103, dtype: int64

In [243]:
df = df.drop('Victim_Age', axis = 1)

In [244]:
df.Victim_Sex.value_counts()

Victim_Sex
M    319152
F    284561
H        88
-         1
Name: count, dtype: int64

In [245]:
df.Victim_Descent.value_counts()

Victim_Descent
H    236645
W    157945
B    110452
O     61052
A     16826
K      4093
F      3217
C      2908
J      1076
V       777
I       739
Z       385
P       209
U       158
D        54
G        51
L        48
S        44
-         2
Name: count, dtype: int64

In [246]:
df.Premises_Code.value_counts()

Premises_Code
101.0    194193
501.0    130927
502.0     94852
108.0     54444
203.0     36063
          ...
137.0         1
803.0         1
240.0         1
836.0         1
974.0         1
Name: count, Length: 312, dtype: int64

In [247]:
df.Premises_Description.value_counts()

Premises_Description
STREET                                          194193
SINGLE FAMILY DWELLING                          130927
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)     94852
PARKING LOT                                      54444
OTHER BUSINESS                                   36063
                                                 ...
MTA - SILVER LINE - DOWNTOWN STREET STOPS            2
TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*                1
DEPT OF DEFENSE FACILITY                             1
MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT         1
HARBOR FRWY STATION (NOT LINE SPECIFIC)              1
Name: count, Length: 306, dtype: int64

In [248]:
df.Weapon_Used_Code.value_counts()

Weapon_Used_Code
400.0    143872
500.0     27958
511.0     19672
102.0     16645
109.0      6101
          ...
120.0         3
119.0         2
123.0         1
121.0         1
124.0         1
Name: count, Length: 79, dtype: int64

In [249]:
df.Weapon_Description.value_counts()

Weapon_Description
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    143872
UNKNOWN WEAPON/OTHER WEAPON                        27958
VERBAL THREAT                                      19672
HAND GUN                                           16645
SEMI-AUTOMATIC PISTOL                               6101
                                                   ...
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                    3
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          1
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: count, Length: 79, dtype: int64

In [250]:
df.Crime_Code_1.value_counts()

Crime_Code_1
510.0    82387
624.0    61385
354.0    49532
330.0    47493
740.0    47299
         ...
452.0        3
430.0        2
884.0        2
445.0        2
882.0        1
Name: count, Length: 140, dtype: int64

In [251]:
df.Location.value_counts()

Location
800 N  ALAMEDA                      ST      1419
6TH                          ST             1267
7TH                                         1259
7TH                          ST             1222
10200    SANTA MONICA                 BL    1195
                                            ...
1200    ALDINE                       CT        1
02300    SICHEL                       ST       1
19000    WYANDOTTE                    ST       1
9200    MCLENNAN                     AV        1
6400 N  FIGUEROAA                    ST        1
Name: count, Length: 62879, dtype: int64

In [252]:
df.columns

Index(['Time_Occurred', 'Area', 'Area_Name', 'Report_District_Number',
       'Part_Type', 'Crime_Code', 'Crime_Description', 'Victim_Sex',
       'Victim_Descent', 'Premises_Code', 'Premises_Description',
       'Weapon_Used_Code', 'Weapon_Description', 'Crime_Code_1', 'Location'],
      dtype='object')

In [254]:
df.shape

(770787, 15)

In [253]:
a = len(df.index)/9240
print(a)

83.4185064935065

In [255]:
round(df.isnull().sum()/len(df.index),2)

Time_Occurred             0.00
Area                      0.00
Area_Name                 0.00
Report_District_Number    0.00
Part_Type                 0.00
Crime_Code                0.00
Crime_Description         0.00
Victim_Sex                0.22
Victim_Descent            0.23
Premises_Code             0.00
Premises_Description      0.00
Weapon_Used_Code          0.65
Weapon_Description        0.65
Crime_Code_1              0.00
Location                  0.00
dtype: float64

In [256]:
# dropping the null values in the remaiaining columns as their number is very small 

df.dropna(inplace = True)

In [257]:
round(df.isnull().sum()/len(df.index),2)

Time_Occurred             0.0
Area                      0.0
Area_Name                 0.0
Report_District_Number    0.0
Part_Type                 0.0
Crime_Code                0.0
Crime_Description         0.0
Victim_Sex                0.0
Victim_Descent            0.0
Premises_Code             0.0
Premises_Description      0.0
Weapon_Used_Code          0.0
Weapon_Description        0.0
Crime_Code_1              0.0
Location                  0.0
dtype: float64

In [258]:
df.shape

(250207, 15)

In [260]:
df.Time_Occurred.head(10)

0     2230
1      330
5       30
10    2200
11     955
15     730
16    2018
17    1900
19    1330
24     700
Name: Time_Occurred, dtype: int64

In [261]:
import pandas as pd
from datetime import datetime

# Sample data
data = {'Time_Occurred': [2230, 330, 30, 2200, 955, 730, 2018, 1900, 1330, 700]}
df = pd.DataFrame(data)

# Function to convert military time to standard time
def military_to_standard(military_time):
    military_time_str = str(military_time).zfill(4)  # Pad with zeros if needed
    standard_time = datetime.strptime(military_time_str, '%H%M').strftime('%I:%M %p')
    return standard_time

# Apply the conversion function to the 'Time_Occurred' column
df['Standard_Time'] = df['Time_Occurred'].apply(military_to_standard)

# Display the updated DataFrame
print(df)

   Time_Occurred Standard_Time
0           2230      10:30 PM
1            330      03:30 AM
2             30      12:30 AM
3           2200      10:00 PM
4            955      09:55 AM
5            730      07:30 AM
6           2018      08:18 PM
7           1900      07:00 PM
8           1330      01:30 PM
9            700      07:00 AM